In [1]:
import pymongo
import xml.etree.ElementTree as ET
import pandas as pd
from sqlalchemy import create_engine

In [2]:
client = pymongo.MongoClient('192.168.56.30', 27017)
db = client.climate
collection = db.co2_emissions_collection

# Read XML as binary data
with open('co2_emissions.xml', 'rb') as xml_file:
    xml_data = xml_file.read()

# Insert into MongoDB
document = {'co2_data': xml_data}
collection.insert_one(document)

InsertOneResult(ObjectId('656f8dcdb10369e8433db82d'), acknowledged=True)

In [3]:
document = collection.find_one()

# Get XML from document
xml_data = document['co2_data']
root = ET.fromstring(xml_data)

# Extract data and create a list of dictionaries
data_list = []
for record in root.findall('.//record'):
    country = record.find('./field[@name="Country or Area"]').text
    country_code = record.find('./field[@name="Country or Area"]').get('key')
    item = record.find('./field[@name="Item"]').text
    year = record.find('./field[@name="Year"]').text
    value = record.find('./field[@name="Value"]').text
    
    data_list.append({
        'Country': country,
        'Country Code': country_code,
        'Item': item,
        'Year': year,
        'Value': value
    })

co2_df = pd.DataFrame(data_list)
co2_df

,Country,Country Code,Item,Year,Value
0,Aruba,ABW,CO2 emissions (metric tons per capita),1960,None
1,Aruba,ABW,CO2 emissions (metric tons per capita),1961,None
2,Aruba,ABW,CO2 emissions (metric tons per capita),1962,None
3,Aruba,ABW,CO2 emissions (metric tons per capita),1963,None
4,Aruba,ABW,CO2 emissions (metric tons per capita),1964,None
...,...,...,...,...,...
16753,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),2018,0.73543480467685
16754,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),2019,0.663338328142275
16755,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),2020,0.530483547000938
16756,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),2021,None
16757,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),2022,None

In [4]:
co2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16758 entries, 0 to 16757
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       16758 non-null  object
 1   Country Code  16758 non-null  object
 2   Item          16758 non-null  object
 3   Year          16758 non-null  object
 4   Value         7408 non-null   object
dtypes: object(5)
memory usage: 654.7+ KB

In [5]:
co2_df.drop(["Item"], axis=1, inplace=True)
co2_df.rename(columns={'Value': 'C02_Emissions_MTPC'}, inplace=True)
co2_df

        Country Country Code  Year C02_Emissions_MTPC
0         Aruba          ABW  1960               None
1         Aruba          ABW  1961               None
2         Aruba          ABW  1962               None
3         Aruba          ABW  1963               None
4         Aruba          ABW  1964               None
...         ...          ...   ...                ...
16753  Zimbabwe          ZWE  2018   0.73543480467685
16754  Zimbabwe          ZWE  2019  0.663338328142275
16755  Zimbabwe          ZWE  2020  0.530483547000938
16756  Zimbabwe          ZWE  2021               None
16757  Zimbabwe          ZWE  2022               None

[16758 rows x 4 columns]

In [6]:
print(co2_df['Country'].nunique())

266

In [7]:
#### Upload to postgresql database

In [8]:
try:
    engine = create_engine('postgresql://dap:dap@192.168.56.30:5432/climate')
    
    co2_df.to_sql('co2_emissions', engine, index=False, if_exists='replace')
    
    print('DataFrame uploaded to PostgreSQL successfully.')
    
except Exception as e:
    print('Error:', e)

DataFrame uploaded to PostgreSQL successfully.

In [9]:
try:
    dbConnection = psycopg2.connect(user = "dap",
                    password = "dap",
        host = "192.168.56.30",
        port = "5432",
        database = "co2_emissions")
    dbConnection.set_isolation_level(0)
    dbCursor = dbConnection.cursor()
    dbCursor.execute(createString)
    dbCursor.close()
except (Exception , psycopg2.Error) as dbError :
    print ("Error while connecting to PostgreSQL", dbError)
finally:
    if(dbConnection):
        dbConnection.close()

NameError: name 'dbConnection' is not defined

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

print("test")

sql = """
    SELECT
    EXTRACT(MONTH FROM date_time) AS month,
    AVG(temp) as temp,
    AVG(wdsp) AS wdsp
    FROM
    weather
    GROUP BY
    month;"""

try:
    engine = create_engine('postgresql://dap:dap@192.168.56.30:5432/weather')
    weather_dataframe = pd.read_sql_query(sql, engine)
except Exception as e:
    print("Error:", e)

print(weather_dataframe)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.barplot(x="month", y="temp", data=weather_dataframe)

In [ ]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2
import seaborn as sns
import matplotlib.pyplot as plt
sql = """SELECT date(date_time) AS obs_date, MIN(temp) as temp,
MIN(dewpt) as dewpt FROM weather GROUP BY obs_date;"""

try:
    dbConnection = psycopg2.connect(user = "dap",
                    password = "dap",
        host = "192.168.56.30",
        port = "5432",
        database = "weather")
    weather_dataframe = sqlio.read_sql_query(sql, dbConnection)
    sns.scatterplot(x="temp", y="dewpt", data=weather_dataframe);
except (Exception , psycopg2.Error) as dbError :
        print ("Error", dbError)
finally:
    if(dbConnection):
        dbConnection.close()

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

sql = """
    SELECT
    date(date_time) AS obs_date,
    MIN(temp) as temp,
    MIN(dewpt) as dewpt
    FROM
    weather
    GROUP BY
    obs_date;
"""

try:
    engine = create_engine('postgresql://dap:dap@192.168.56.30:5432/weather')
    weather_dataframe = pd.read_sql_query(sql, engine)
    sns.scatterplot(x="temp", y="dewpt", data=weather_dataframe);
except Exception as e:
    print("Error:", e)