In [1]:
import pandas as pd
import psycopg2
connection_settings = {
    'user': 'dap',
    'password': 'dap',
    'host': '192.168.56.30',
    'port': '5432',
    'database': 'climate'}

In [2]:
def read_table(table_name, connection_settings):
    try:
        # Connect to the PostgreSQL database
        dbConnection = psycopg2.connect(**connection_settings)
        dbCursor = dbConnection.cursor()
        query = f'SELECT * FROM {table_name};'
        dbCursor.execute(query)

        # Get all column names and data   
        data = dbCursor.fetchall()
        columns = [desc[0] for desc in dbCursor.description]

        # Convert data to a Pandas DataFrame
        df = pd.DataFrame(data, columns=columns)

        return df
    except (Exception, psycopg2.Error) as dbError:
        print(f"Error while connecting to PostgreSQL or querying table {table_name}: {dbError}")
        return None
    finally:
        if dbConnection:
            dbConnection.close()

In [3]:
table_name = 'air_pollution'
read_table(table_name, connection_settings)

,Country or Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Albania,21.63,23.41,21.56,20.05,19.94,19.54,17.82,19.02,18.82,18.64,16.00,12.5,14.5
1,Algeria,31.94,31.47,32.49,30.35,31.88,33.44,32.79,32.55,32.66,32.83,20.20,20.0,17.8
2,Andorra,11.26,12.31,11.21,10.22,9.59,10.35,8.94,9.14,9.18,9.07,7.40,7.3,5.4
3,Angola,28.63,28.81,29.11,29.21,28.24,29.10,29.18,28.04,28.51,28.42,13.00,11.0,8.8
4,Argentina,13.74,14.19,13.36,14.70,13.78,14.59,14.11,13.61,13.63,13.51,14.20,8.2,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,United Arab Emirates,43.53,45.90,47.64,44.35,41.10,45.91,43.22,43.82,43.81,43.67,29.20,36.0,45.9
104,United Kingdom,12.43,13.00,11.43,11.42,10.89,10.37,10.21,10.36,10.17,10.09,8.30,8.8,8.9
105,Uruguay,9.42,9.68,9.30,10.33,9.89,9.94,9.90,9.54,9.58,9.53,9.53,14.2,11.3
106,Uzbekistan,32.29,41.44,39.02,39.48,37.50,35.49,35.12,35.07,34.78,34.79,29.90,42.8,33.5
107,Zambia,27.03,28.11,28.36,27.29,27.35,28.26,27.41,26.18,26.35,25.93,25.93,24.6,24.6

In [4]:
table_name = 'co2_emissions'
read_table(table_name, connection_settings)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,0.1914,0.1807,0.1265,0.1091,0.0966,0.0888,0.0823,0.0756,0.0713,...,0.4090,0.3351,0.2981,0.2837,0.2980,0.2684,0.2812,0.2991,0.2976,0.2235
1,Africa Eastern and Southern,0.9830,0.9422,0.9079,0.9095,0.9134,0.9330,0.9432,0.9622,0.9632,...,0.9768,0.9896,1.0012,1.0138,0.9604,0.9413,0.9339,0.9215,0.9153,0.7954
2,Africa Western and Central,0.4701,0.5211,0.5580,0.5139,0.4624,0.4927,0.5543,0.5401,0.5067,...,0.4516,0.4521,0.4816,0.4935,0.4756,0.4798,0.4652,0.4758,0.4908,0.4632
3,Albania,1.8440,1.2611,0.6896,0.6440,0.6499,0.6121,0.6212,0.4698,0.5768,...,1.7681,1.5659,1.6564,1.7957,1.6652,1.5901,1.8806,1.8546,1.7495,1.5446
4,Algeria,2.4664,2.5419,2.4990,2.6401,2.6347,2.6842,2.6264,2.5252,2.4946,...,3.3052,3.6214,3.6585,3.8115,3.9520,3.8338,3.8337,3.9243,3.9944,3.7182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Viet Nam,0.2889,0.2896,0.2982,0.3406,0.3680,0.4257,0.4674,0.5370,0.5896,...,1.7654,1.7416,1.8201,1.9806,2.1858,2.3842,2.4446,3.0147,3.5678,3.6764
235,World,4.0209,3.9833,3.9103,3.8750,3.8420,3.8939,3.9196,3.9353,3.9075,...,4.6895,4.6853,4.7194,4.6818,4.6008,4.5575,4.5773,4.6413,4.5820,4.2919
236,"Yemen, Rep.",0.4966,0.6116,0.6325,0.5706,0.6005,0.6540,0.6500,0.6804,0.7074,...,0.9009,0.8013,1.0312,0.9883,0.4752,0.3428,0.3224,0.3686,0.3549,0.3085
237,Zambia,0.3566,0.3650,0.3527,0.3040,0.2530,0.2452,0.1979,0.2502,0.2319,...,0.2138,0.2733,0.2782,0.2978,0.3051,0.3170,0.3937,0.4405,0.4143,0.4019
238,Zimbabwe,1.6349,1.7635,1.7356,1.5818,1.4698,1.4084,1.3296,1.2168,1.2186,...,0.8719,0.9012,0.9012,0.8668,0.8470,0.7231,0.6631,0.7354,0.6633,0.5305

In [5]:
# Two different layouts for co2 table depending on what is easier to create an output table
table_name = 'co2_emissions_output'
read_table(table_name, connection_settings)

                          Country Country Code  Year  C02_Emissions_MTPC
0     Africa Eastern and Southern          AFE  1990              0.9830
1     Africa Eastern and Southern          AFE  1991              0.9422
2     Africa Eastern and Southern          AFE  1992              0.9079
3     Africa Eastern and Southern          AFE  1993              0.9095
4     Africa Eastern and Southern          AFE  1994              0.9134
...                           ...          ...   ...                 ...
7403                     Zimbabwe          ZWE  2016              0.7231
7404                     Zimbabwe          ZWE  2017              0.6631
7405                     Zimbabwe          ZWE  2018              0.7354
7406                     Zimbabwe          ZWE  2019              0.6633
7407                     Zimbabwe          ZWE  2020              0.5305

[7408 rows x 4 columns]

In [6]:
table_name = 'global_temperature'
read_table(table_name, connection_settings)

             region  country        city  year  average_temperature
0            Africa  Algeria     Algiers  1997                64.93
1            Africa  Algeria     Algiers  1998                63.62
2            Africa  Algeria     Algiers  1999                64.92
3            Africa  Algeria     Algiers  2000                64.18
4            Africa  Algeria     Algiers  2001                64.67
...             ...      ...         ...   ...                  ...
3059  North America       US  Birmingham  2016                58.32
3060  North America       US  Birmingham  2017                57.94
3061  North America       US  Birmingham  2018                57.04
3062  North America       US  Birmingham  2019                56.78
3063  North America       US  Birmingham  2020                47.40

[3064 rows x 5 columns]

In [7]:
table_name = 'ev_car_sales'
read_table(table_name, connection_settings)

,ev_record_id,region,category,parameter,mode,powertrain,year,unit,value
0,1,Australia ...,Historical ...,EV stock ...,Cars ...,BEV ...,2011,Vehicles ...,49.0000000000
1,2,Australia ...,Historical ...,EV stock share ...,Cars ...,EV ...,2011,percent ...,0.0004600000
2,3,Australia ...,Historical ...,EV sales share ...,Cars ...,EV ...,2011,percent ...,0.0065000000
3,4,Australia ...,Historical ...,EV sales ...,Cars ...,BEV ...,2011,Vehicles ...,49.0000000000
4,5,Australia ...,Historical ...,EV sales ...,Cars ...,BEV ...,2012,Vehicles ...,170.0000000000
...,...,...,...,...,...,...,...,...,...
2771,2772,World ...,Historical ...,Oil displacement Mbd ...,Cars ...,EV ...,2022,Milion barrels per day ...,0.4300000070
2772,2773,World ...,Historical ...,"Oil displacement, million lge ...",Cars ...,EV ...,2022,"Oil displacement, million lge ...",25000.0000000000
2773,2774,World ...,Historical ...,EV sales ...,Cars ...,BEV ...,2022,Vehicles ...,7300000.0000000000
2774,2775,World ...,Historical ...,EV sales share ...,Cars ...,EV ...,2022,percent ...,14.0000000000
2775,2776,World ...,Historical ...,EV stock share ...,Cars ...,EV ...,2022,percent ...,2.0999999050